fastapi
uvicorn[standard]
python-dotenv
redis>=5.0.0
PyJWT
sentence-transformers
faiss-cpu
scikit-learn
numpy
pandas
python-docx
langchain
langchain-huggingface
langchain-community
openai
requests
pyttsx3
SpeechRecognition
